@tailwind base;
@tailwind components;
@tailwind utilities;

.white-glass{
  background: rgba(247, 245, 241, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(0.2px);
  border: 1px solid rgba(247, 245, 241, 0.89);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
}
 
